<div class="videos">
    <div class="category" style="margin-right: 25px;">
        <a href="{$videos_link}/?t=news"><img src="/i/video_cat_news.jpg" /></a>
        <div class="title">News</div>
    </div>

    <div class="category">
        <a href="{$videos_link}/?t=presentations"><img src="/i/video_cat_press.jpg" /></a>
        <div class="title">Presentations</div>
    </div>
</div>