html, body { font-family: 'PT Sans Caption', Arial, sans-serif; font-weight: normal; font-size: 12px; color: #242424; }

h1 { font-size: 17px; font-weight: normal; text-transform: uppercase; margin-bottom: 5px; margin-top: 0; }
h2 { font-size: 16px; font-weight: bold; margin-bottom: 5px; margin-top: 0; }

a, a:link, a:visited, a:active { color: #0353a5; text-decoration: underline; }
a:hover { color: #1f6bb9; }

hr { border: none; background: #0353a5; height: 1px; margin: 15px 0; }

table.cols-2, table.cols-3, table.cols-4 { width: 100%; border-collapse: collapse; }
table.cols-2 td, table.cols-3 td, table.cols-4 td { vertical-align: top; padding: 0 15px 0 15px; }
table.cols-2 td { width: 50%; }
table.cols-3 td { width: 33%; }
table.cols-4 td { width: 25%; }

.file { float: left; position: relative; width: 120px; font-size: 11px; margin: 15px 15px 15px 0; }
.file a { text-decoration: none; color: #fff; }
.file .cover { width: 120px; height: 100px; overflow: hidden; margin-bottom: 5px; }
.file .cover img { width: 120px; height: 100px; }