@import "/s/normalize.css";

html, body { font-family: 'PT Sans Caption', Arial, sans-serif; font-weight: normal; font-size: 12px; color: #242424; width: 100%; height: 100%; }

h1, .title_h1 { font-size: 17px; font-weight: normal; text-transform: uppercase; margin-bottom: 5px; margin-top: 0; padding: 0 9px; }
h2 { font-size: 16px; font-weight: bold; text-transform: uppercase; margin-bottom: 5px; margin-top: 0; padding: 0 9px; }
h3 { font-family: 'Roboto Condensed', Arial, sans-serif; font-size: 16px; font-weight: bold; text-transform: uppercase; margin-bottom: 5px; margin-top: 0; padding: 0 9px; }

a, a:link, a:visited, a:active { color: #0353a5; text-decoration: underline; }
a:hover { color: #1f6bb9; }

hr { border: none; background: #0353a5; height: 1px; margin: 15px 0; }

.clear { clear: both; height: 1px; }
.hide { display: none; }


.wrapper { width: 100%; height: auto; min-height: 100%; position: relative; background: #f8f8f8; }
.wrapper.main-bg { background: #fff; }
.wrapper-content { background: #f8f8f8; padding: 27px 0; }
.content { width: 935px; margin: 0 auto; position: relative; }
.content p { padding: 0 10px; }
.content .top-text { margin-bottom: 30px; margin-top: -10px; }
.content .top-text p { margin: 0; }

/* Fade Text */
.fade-text { width: inherit; overflow: hidden; position: relative; }
.fade-text span { display: block; position: absolute; top: 0; right: 0; width: 22px; height: inherit; }
.fade-text.white span { background: url(/i/overflow_white.png) no-repeat; }
.fade-text.gray span { background: url(/i/overflow_gray.png) no-repeat; }
.fade-text.blue span { background: url(/i/overflow_blue.png) no-repeat; }

.navigation { background: #0353a5; height: 42px; }
.navigation a { font-family: 'Roboto Condensed', Arial, sans-serif; font-weight: normal; color: white; font-size: 19px; text-decoration: none; display: block; padding: 7px 10px 9px 10px;  outline: 0; }
.navigation a:hover { color: white; }
.navigation ul li:first-child { margin-left: -10px; }
.navigation ul li a.active { background: #053c74; }
.navigation ul { margin: 0 auto; padding: 0; width: 935px; }
.navigation ul li { float: left; list-style: none; margin: 0; cursor: pointer; font-family: 'Roboto Condensed', Arial, sans-serif; font-weight: normal; color: white; font-size: 19px; text-decoration: none; }
.navigation ul li ul { position: absolute; width: 180px; background: #0353a5; z-index: 1000; }
.navigation ul li ul li { float: none; margin: 0 !important; }
.navigation ul li ul li:hover { background: #053c74; }
.navigation ul li ul li a { padding: 7px 10px 10px 10px; }

/* Header */
.logo { background: url(/i/logo_ar.png) no-repeat; width: 680px; margin-top: 30px; }
.logo a { font-family: 'Roboto Condensed', Arial, sans-serif; font-size: 40px; font-weight: bold; text-transform: uppercase;  text-decoration: none; color: #0353a5; padding: 5px 0 15px 137px; display: block; line-height: 40px; }

.header-main { position: relative; background: #f8f8f8; }
.header-main .header-content { position: relative; height: 478px; z-index: 10; width: 935px; margin: 0 auto; }
.header-main .header-content .news { position: absolute; bottom: 50px; width: 510px; padding: 10px; background: url(/i/bg_blue.png); color: white; }
.header-main .header-content .news .title { margin-bottom: 10px; font-family: 'Roboto Condensed', Arial, sans-serif; font-weight: normal; color: white; font-size: 17px; text-transform: uppercase; }
.header-main .header-content .news p { padding: 0; margin: 0; }
.header-main .header-content a.news-btn { background: #0353a5; border: 0; width: 100px; text-align: center; line-height: 30px; color: white; position: absolute; bottom: 20px; left: 430px; white-space: nowrap; text-decoration: none; }
.header-main .header-content a.news-btn:hover { background: #1f6bb9; }
.header-main .header-content a.news-btn:active { background: #053c74; }
.header-main .header-content a.news-btn:focus { background: #1f6bb9; }
.header-main .main-image-slider { position: absolute; top: 42px; width: 100%; height: 500px; overflow: hidden; }
.header-main .main-image-slider ul { position: relative; }
.header-main .main-image-slider ul li img { height: 100%; width: auto; margin: 0 auto; }
.header-main .main-image-slider .flex-direction-nav { display: none; }

.header-inner { position: relative; z-index: 1; }
.header-inner .header-content { width: 935px; margin: 0 auto; }
.header-inner .menu-lv2 { margin: 28px 0 0 0; border-bottom: 1px solid #0353a5; text-align: right; list-style: none; padding: 0; }
.header-inner .menu-lv2 li { display: inline-block; }
.header-inner .menu-lv2 li.back { float: left; text-align: left; }
.header-inner .menu-lv2 a { padding: 0 7px; font-family: 'Roboto Condensed', Arial, sans-serif; font-weight: normal; text-transform: uppercase; font-size: 17px; text-decoration: none; }
.header-inner .menu-lv2 a.active { background: #0353a5; color: white; }

.header-inner .menu-lv3 { position: absolute; width: 180px; background: #0353a5; z-index: 1000; margin: 0; padding: 0; width: auto; }
.header-inner .menu-lv3 a { color: #ffffff; font-size: 14px; text-transform: none; }
.header-inner .menu-lv3 li { display: block; text-align: left; padding: 5px 0; }

/* Lang Panel */
.lang { position: absolute; left: 50%; top: 13px; margin-left: 393px; }
.lang .flag { display: block; width: 22px; height: 15px; background: url(/i/lang_flag.jpg) no-repeat; float: left; margin-left: 15px; padding: 0; }
.lang .flag.ru { background-position: 0 0; }
.lang .flag.ru.disable { background-position: 0 -15px; }
.lang .flag.en { background-position: -22px 0; }
.lang .flag.en.disable { background-position: -22px -15px; }

/* Search Header */
.search-panel { position: absolute; left: 50%; margin-left: 215px; background: #f8f8f8; top: 5px; width: 160px; }
.search-panel input { width: 110px; font-family: 'Roboto Condensed', Arial, sans-serif; font-weight: normal; font-size: 19px; border: 0; padding: 2px 7px; background: #f8f8f8; }
.search-panel button { border: 0; background: #f8f8f8; width: 30px; height: 30px; background: url(/i/icon_search.gif) no-repeat center center; float: right; }

/* Search Result */
.search-result ul { padding: 0; margin: 0; }
.search-result ul li { list-style: none; }
.search-result li.page { font-size: 17px; margin: 15px 0 5px 0; }
.search-result li.page a { color: #242424; }
.search-result li.link { padding-left: 33px; margin-bottom: 7px; background: url(/i/list_line.gif) no-repeat 20px 7px; }
.search-result form { margin-bottom: 10px; }
.search-result form input { float: left; width: 300px; font-family: 'Roboto Condensed', Arial, sans-serif; font-weight: normal; font-size: 19px; border: 1px solid #0353a5; padding: 2px 7px; background: #fff; }
.search-result form button { float: left; border: 0; background: #0353a5; color: #fff; height: 31px; padding: 0 15px; }

/* Aeroports slider */
.airports { margin-bottom: 20px; }
.airports .item { width: 233px; height: 210px; background: #0353a5; float: left; margin-left: 1px; overflow: hidden; position: relative; cursor: pointer; }
.airports .item .img { position: relative; margin: 0; padding: 0; font-size: 0; line-height: 0; }
.airports .item .img .gradient { position: absolute; width: 233px; height: 210px; background: url(/i/gradient_main_airports.png) no-repeat; margin-top: -210px; }
.airports .item .title { position: absolute; font-family: 'Roboto Condensed', Arial, sans-serif; font-weight: normal; font-size: 15px; text-transform: uppercase; color: white; margin-bottom: 5px; margin-top: 15px; margin-left: 10px; z-index: 3; }
.airports .item p { width: 213px; height: 155px; margin: -210px 0 0 0; color: white; position: absolute; z-index: 1; padding: 45px 10px 10px 10px; background: #0353a5; }
.airports .item a { text-decoration: none; }

/* Slider Arrows */
.arrows { position: absolute; width: 1000px; top: 95px; left: 50%; margin-left: -500px; }
.arrows .left, .arrows .right { width: 24px; height: 24px; cursor: pointer; background-image: url(/i/icon_left_right.gif); background-repeat: no-repeat; }
.arrows .left { background-position: 4px -24px; float: left; }
.arrows .left:hover { background-position: -24px -24px; float: left; }
.arrows .right { background-position: 0 0; float: right; }
.arrows .right:hover { background-position: -28px 0; float: right; }

/* Banners block */
.banners-block { width: 935px; margin: 30px auto 0; }
.banners-block a { text-decoration: none; position: relative; }
.banner { display: block; width: 207px; padding: 10px; background: #fafafa; float: left; margin-right: 9px; margin-bottom: 20px; box-shadow: 0 1px 3px rgba(0,0,0,0.3); }
.banner:last-child { margin-right: 0; }
.banner:hover { box-shadow: 0 1px 3px rgba(11,108,208,0.5); }
.banner td { padding: 0; }
.banner td.title { height: 40px; vertical-align: middle; font-family: 'Roboto Condensed', Arial, sans-serif; font-size: 17px; font-weight: normal; text-transform: uppercase; color: #0353a5; line-height: 18px; padding-bottom: 5px; }
.banner td.img { vertical-align: bottom; line-height: 0; font-size: 0; }
.banner td.img .label { background: #0b6cd0; line-height: 40px; position: absolute; font-size: 12px; color: white; padding: 0 10px; margin-left: -10px; bottom: 55px; max-width: 207px; white-space: nowrap; }
.banner td.img .label.hot { background: #ef1d53; }
.banner td.img .mask { width: 207px; height: 135px; overflow: hidden; }
.banner:hover td.img .label { background: #1f6bb9; }
.banner:hover td.img .label.hot { background: #fd3669; }

/* Footer */
.footer { height: 100px; position: relative; background: #fff; }
.footer .content { margin: -100px auto 0; width: 935px; padding: 30px 0;  }
.footer p { padding: 0; margin: 0; }
.footer .left { float: left; width: 480px; }
.footer .left .logo-renova { float: left; margin-right: 20px; }
.footer .right { float: right; width: 250px; text-align: right; }
.footer .social-button { margin-bottom: 10px; }
.footer .social-button a { padding-left: 20px; }
.sub-footer { height: 120px; clear: both; }

/* Inner Page */
.image-inner-head { margin-bottom: 17px; margin-top: -10px; height: 240px; overflow: hidden; }
.image-inner-head img { width: 100%; height: auto; }
.contacts-airport { margin: -58px auto 0; width: 935px; background: #0353a5; }
.contacts-airport p { color: #fff; line-height: 28px; padding: 0; margin: 0 10px; white-space: nowrap; overflow: hidden; }
.contacts-airport p a { color: #fff; text-decoration: none; }

/* Leaders Block */
.leaders { overflow: hidden; }
.leaders .title { font-family: 'Roboto Condensed', Arial, sans-serif; font-weight: normal; text-transform: uppercase; font-size: 17px;  color: #0353a5; margin-bottom: 20px; }
.leaders a.person { display: block; padding: 10px; float: left; width: 208px; overflow: hidden; text-decoration: none; margin: 0 5px 6px 0; }
.leaders a.person .photo { width: 100%; height: 250px; overflow: hidden; }
.leaders a.person .photo img { width: 100%; height: auto; margin-bottom: 10px; }
.leaders a.person p { color: #242424; font-family: 'Roboto Condensed', Arial, sans-serif; font-size: 17px; font-weight: normal; text-transform: uppercase; padding: 5px 0 0 0; margin: 0; }
.leaders a.person:hover { background: #0353a5; }
.leaders a.person:hover p { color: #fff; }
.leaders a.person:hover .fade-text span { background: url(/i/overflow_blue.png) no-repeat; }
.leaders a.person p.position { font-family: 'PT Sans Caption'; font-size: 11px; text-transform: none; }

.leaders .photo { float: left; margin-right: 20px; }
.leaders .info .title { font-family: 'Roboto Condensed', Arial, sans-serif; font-size: 17px; font-weight: normal; text-transform: uppercase; }
.leaders .info .position { margin-bottom: 30px; }
.leaders .info p { padding: 0; }


/* Photo Gallery */
.gallery .photo { float: left; margin: 0 15px 10px 0; background: url(/i/gallery_background.jpg) no-repeat left top;}
.gallery .photo.alboms { background: none; }
.gallery .photo a { display: block; width: 215px; height: 164px; overflow: hidden; }
.gallery .photo img { margin: 7px; height: 100%; width: 100%; }
.gallery .photo p { padding: 0; width: 222px; }
.gallery .photo.last { margin-right: 0 !important; }

.gallery.inner { background: #fff; padding: 10px; margin-top: 15px; overflow: hidden; }
.gallery.inner .title { margin-bottom: 10px; }
.gallery.inner .title .back { float: right; margin-right: 2px; text-decoration: none; color: #000; }
.gallery.inner .photo { background: none; margin: 13px 27px 13px 0; position: relative; }
.gallery.inner .photo a { width: 208px; height: 155px; }
.gallery.inner .photo img { margin: 0; }
.gallery.inner .photo .title-img { color: white; text-decoration: none; position: absolute; background: url(/i/bg_blue.png); width: 192px; height: 30px; bottom: 0; padding: 5px 8px; display: none; overflow: hidden; }


/* Map Airports */
.map-airports { margin: 0; }
.map-airports .wrapper, .map-airports .wrapper-content { background: #b7c8d8; }
.map-airports .wrapper-content .content { width: 100%; height: 858px; position: absolute; top: 0; z-index: 0; overflow: hidden; }
.map-airports .wrapper-content { height: 610px; padding: 0; }
.map-airports .wrapper-content .content .points { position: absolute; width: 935px; height: 100%; left: 200px;  }
.map-airports .wrapper-content .content .map-image { left: 0; margin-left: -840px; position: relative; }
.map-airports .image-inner-head { display: none; }
@media ( max-width: 1679px ) {
    .map-airports .wrapper-content .content { transform: scale(.8); transform-origin: 0 50%; overflow: visible; margin-top: -50px; }
    .map-airports .wrapper { overflow: hidden; background: #fff; }
    .map-airports .wrapper-content { height: 480px; }
    .map-airports .wrapper-content .content .points { left: 100px;  }
    .map-airports .wrapper-content .content .map-image { margin-left: -940px; }
}
@media ( max-width: 1279px ) {
    .map-airports .wrapper-content .content { transform: scale(.65); transform-origin: 0 50%; overflow: visible; margin-top: -110px;}
    .map-airports .wrapper-content { height: 370px; }
}

.point-airport { position: absolute; max-width: 180px; width: 100%; height: 40px; z-index: 1; font-size: 11px; }
.point-airport .label { height: 25px; background: transparent; position: absolute; clip:rect(-300px 180px 25px 0px); cursor: pointer; }
.point-airport ._point-wrapper { background: #0353a5; position:absolute; }
.point-airport .title { width: 180px; font-family: 'Roboto Condensed', Arial, sans-serif; font-size: 12px; font-weight: normal; text-transform: uppercase; color: #fff; padding: 0 7px; line-height: 25px; display: block; white-space: nowrap; }
.point-airport .info img { min-width: 180px; }
.map-airports .tail { width: 14px; height: 12px; background: url(/i/point_tail.png) no-repeat; position: absolute; z-index:10; top: 25px; }
.point-airport.left .tail { background-position: 0 -18px; right: 0; }
.point-airport .info p { color: #fff; margin: 3px 0 7px 0; padding: 0 7px; }


/* News */
.news-page .left-col { width: 720px; float: left; }
.news-page .right-col { width: 200px; margin-left: 735px; background: #fff; }
.news-page .right-col .btn-all-news { font-family: 'Roboto Condensed', Arial, sans-serif; text-transform: uppercase; font-size: 14px; text-decoration: none; display: block; padding: 15px 19px; }
.news-page .news-list { clear: both; margin-bottom: 25px; min-height: 150px; }
.news-page .news-list .image { width: 230px; height: 150px; overflow: hidden; float: left; margin-right: 13px; }
.news-page .news-list a { text-decoration: none; color: #000; }
.news-page .news-list:hover { background: #fff; }
.news-page .news-list .date, .news-page .news-list .anounce { margin-left: 230px; }
.news-page .news-list .date { padding-top: 13px; margin-bottom: 5px; }
.news-page .news-list .anounce { margin: 13px 0; }

.news-page .pagination { text-align: center; }
.news-page .pagination a { font-family: 'Roboto Condensed', Arial, sans-serif; text-transform: uppercase; font-size: 14px; font-weight: bold; text-decoration: none; padding: 1px 5px; color: #000; }
.news-page .pagination a.active { background: #0353a5; color: #fff; }

.news-page.one-news { background: #fff; margin-top: -10px; padding: 10px; }
.news-page.one-news p, .news-page.one-news h1, .news-page.one-news h2, .news-page.one-news h3 { padding: 0; }
.news-page.one-news h3 { margin: 0; }

.news-page.one-news .top-image { float: left; margin-bottom: 10px; }
.news-page.one-news .top-image div { width: 447px; height: 260px; overflow: hidden; float: left; }
.news-page.one-news .top-image div:first-child { margin-right: 20px; }

/* fix's for media */
.media.news-page .news-list { min-height: inherit; border-bottom: 1px solid #0353a5; margin-bottom: 0; }
.media.news-page .news-list:last-child { border: 0; }
.media.news-page .news-list .date, .media.news-page .news-list .anounce { margin-left: 0px; }
.media.news-page .news-list h3 { padding: 0; }
.media.news-page .news-list .date { padding-top: 20px; }
.media.news-page .news-list .anounce { margin-bottom: 20px; }
.media.news-page .news-list:hover { background: transparent; }
.media.news-page .pagination { margin-top: 10px; }

.ui-datepicker table thead { display: none; }

/* Press-kit */
.presskit .category { float: left; margin: 0 15px 10px 0; /*background: url(/i/gallery_background.jpg) no-repeat left top;*/}
.presskit .category.alboms { background: none; }
.presskit .category a { display: block; width: 215px; height: 200px; overflow: hidden; }
.presskit .category img { margin: 7px; width: 222px; height: 186px; /*height: 100%; width: auto;*/ }
.presskit .category p { padding: 0; width: 222px; margin-top: -10px; }

.presskit.files.list .item { float: left; width: 219px; margin: 0 12px 12px 0; height: 108px; border: 2px solid #F8F8F8; overflow: hidden; cursor: pointer; text-decoration: none; }
.presskit.files.list .item:hover { border: 2px solid #0353a5; background: #fff; }
.presskit.files.list .item .icon { width: 76px; height: 89px; float: left; margin: 9px; }
.presskit.files.list .item span { display: block; margin-left: 100px; margin-top: 9px; text-decoration: underline; }
.presskit.files.list .item p { text-decoration: none; padding: 0; margin: 0 0 0 100px; color: #000000; }

.presskit .photo-materials .category-head { padding: 28px 20px; }
.presskit .photo-materials .category-head:hover { background: #fff; }
.presskit .photo-materials .category-head .title { font-family: 'Roboto Condensed', Arial, sans-serif; text-transform: uppercase; font-size: 17px; text-decoration: none; margin-right: 100px; }
.presskit .photo-materials .category-head a { float: right; margin-top: -25px; margin-right: -20px; background: #0353a5; color: #fff; text-decoration: none; padding: 6px 10px; width: 70px; text-align: center; }
.presskit .photo-materials .category-body .photo { width: 145px; height: 145px; float: left; margin: 0 9px 10px 0; position: relative; }
.presskit .photo-materials .category-body .photo img { width: auto; height: 100%; }
.presskit .photo-materials .category-body .photo .mask { width: 145px; height: 145px; overflow: hidden; }
.presskit .photo-materials .category-body .photo .zoom { position: absolute; top: 0; left: -21px; width: 187px; height: 187px; z-index: 1; display: none; overflow: hidden; box-shadow: 0 1px 3px rgba(0,0,0,0.4); }
.presskit .photo-materials .category-body .photo .zoom a { color: #fff; }
.presskit .photo-materials .category-body .photo .zoom .info,
.presskit .photo-materials .category-body .photo .zoom .download { position: absolute; background: url(/i/bg_blue.png); min-height: 30px; width: 100%; padding: 6px 5px 6px 5px; color: #fff; }
.presskit .photo-materials .category-body .photo .zoom .download { bottom: 0; }

.presskit .photo-materials .collapse {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition: height 0.01s ease;
    -moz-transition: height 0.01s ease;
    -o-transition: height 0.01s ease;
    transition: height 0.01s ease;
}

.presskit .photo-materials .collapse.in {
    height: auto;
    overflow: visible; /* из-за этого отсутствует анимация */
}


/* Video */
.videos .category { width: 439px; float: left; margin: 0 10px; }
.videos .category .title { margin-top: 8px; }

.videos.list { padding: 0 10px; }
.videos.list .item { width: 451px; float: left; margin: 12px 12px 0 0; }
.videos.list .item .thumb { display: block; height: 257px; overflow: hidden; }
.videos.list .item img { width: 100%; height: auto; min-height: 257px; }
.videos.list .item p { padding: 0; margin: 8px 0; }

.videos.item { width: 660px; margin: 15px auto; }
.videos.item p { padding: 0; margin: 8px 0; }

/* Job */
.job.category { padding: 0 10px; }
.job.category a { margin-right: 10px; }
.job.category a.active { color: #053c74; text-decoration: none; }

.job.list { margin-top: 10px; }
.job.list a.item { display: block; padding: 15px 10px 5px 10px; border-bottom: 1px solid #0353a5; text-decoration: none; color: #000; position: relative; }
.job.list a.item:hover { background: #fff; }
.job.list a.item p { padding: 0; }
.job.list a.item .city { font-size: 10px; }
.job.list a.item .title { font-family: 'Roboto Condensed', Arial, sans-serif; font-size: 17px; font-weight: normal; text-transform: uppercase; }
.job.list a.item .money { font-family: 'Roboto Condensed', Arial, sans-serif; font-size: 17px; font-weight: normal; position: absolute; right: 10px; top: 27px; }
.job.list a.item .city,
.job.list a.item .title,
.job.list a.item p { margin-right: 170px; }

.job.info { background: #fff; position: relative; }
.job.info p { padding: 0; margin-top: 0; margin-bottom: 5px; }
.job.info .back { position: absolute; padding: 7px; right: 0; top: 0; background: #0353a5; font-family: 'Roboto Condensed', Arial, sans-serif; font-size: 17px; font-weight: normal; text-transform: uppercase; text-decoration: none; color: #fff; }
.job.info .title { padding: 7px 10px; border-bottom: 1px solid #0353a5; font-family: 'Roboto Condensed', Arial, sans-serif; font-size: 17px; font-weight: normal; text-transform: uppercase; white-space: nowrap; overflow: hidden; }

.job.info .left { float: left; width: 220px; padding: 10px 0 10px 10px; }
.job.info .left .money { font-family: 'Roboto Condensed', Arial, sans-serif; font-size: 19px; font-weight: normal; margin-top: 30px; }
.job.info .left .day,
.job.info .left .other { font-family: 'Roboto Condensed', Arial, sans-serif; font-size: 19px; font-weight: normal; text-transform: uppercase; margin: 13px 13px 0 0; }
.job.info .left .resume { display: block; margin-left: -10px; margin-top: 30px; background: #0353a5; padding: 7px 10px; font-family: 'Roboto Condensed', Arial, sans-serif; font-size: 19px; font-weight: normal; text-transform: uppercase; text-decoration: none; color: #fff; }

.job.info .right { margin-left: 230px; width: 680px; border-left: 1px solid #0353a5; padding: 10px 0 0 10px; }
.job.info .right p { margin-bottom: 10px; }
.job.info .print { text-align: right; }

.job .resume-form { margin: 10px; }
.job .resume-form .row { margin-bottom: 10px; position: relative; }
.job .resume-form .row label { display: block; margin-bottom: 2px; }
.job .resume-form .row input,
.job .resume-form .row textarea { border: 1px solid #0353a5; background: #f8f8f8; }
.job .resume-form .row .file-resume { border: 0; }
.job .resume-form .row .name,
.job .resume-form .row .contacts { width: 300px; padding: 3px 5px; }
.job .resume-form .row .comment { width: 300px; height: 80px; padding: 3px 5px; }
.job .resume-form .row label.valid { font-weight: bold; }
.job .resume-form .row .btn-send { padding: 7px; background: #0353a5; font-family: 'Roboto Condensed', Arial, sans-serif; font-size: 17px; font-weight: normal; text-transform: uppercase; color: #fff; border: 0; margin-top: 20px; }

.job .resume-form .row .error { position: absolute; color: #a7141b; background: #f5b5b8; padding: 4px 5px; left: 320px; top: 17px; }

/* File Library */
.file { float: left; position: relative; width: 135px; margin: 20px 10px 20px 10px; }
.file a { text-decoration: none; color: #fff; }
.file .cover { width: 135px; height: 120px; overflow: hidden; margin-bottom: 7px; }
.file .hover { background: #0353a5; color: #ffffff; width: 135px; height: 120px; text-align: center; position: absolute; top: 0; font-family: 'Roboto Condensed', Arial, sans-serif; font-size: 16px; font-weight: normal; text-transform: uppercase; display: block; line-height: 120px; }

/* Under Construction Page */
.ucp { position: absolute; width: 500px; left: 50%; top: 50%; margin-top: -100px; margin-left: -250px; }
.ucp .logo { width: 90px; margin: 0 auto; }
.ucp .message { margin-top: 30px; text-align: center; font-family: 'Roboto Condensed', Arial, sans-serif; font-size: 17px; font-weight: normal; text-transform: uppercase; }

/* Styles CKEditor */
table.cols-2, table.cols-3, table.cols-4 { width: 100%; border-collapse: collapse; }
table.cols-2 td, table.cols-3 td, table.cols-4 td { vertical-align: top; padding-right: 30px; }
table.cols-2 td:last-child, table.cols-3 td:last-child, table.cols-4 td:last-child { vertical-align: top; padding-right: 0; }
table.cols-2 td { width: 50%; }
table.cols-3 td { width: 33%; }
table.cols-4 td { width: 25%; }

.custom-clip {
    transition: 0.3s;
    clip: rect(-300px, 180px, 25px, 0px);
}

.clip-transform {
    clip: rect(-300px, 180px, 185px, 0px) !important;
}
