<style>
    .fix-p p { padding: 0; }
</style>
{if $gal == '4' || $gal == '8' || $gal == '12' || $gal == '16' || $gal == '20' || $gal == '24' || $gal == '28'}
    <div class="fix-p">{$item.body}</div>
{else}
    {$item.body}
{/if}