<script type="text/javascript" src="/_bo/js/jquery.validate.pack.js"></script>
{literal}
<style>
	label	{ display: block; margin: 2px 0px 2px; }
	.red	{ color: red !important; }
</style>
{/literal}

<form action="?action=saveUser" id="form" method="POST">
	<input type="hidden" name="uid" value="{$u.uid}"/>

	<label for="login">Логин</label>
	<input type="text" name="login" id="login" value="{$u.login}" /><br/>

	<label for="login">Пароль</label>
	<input type="password" name="pwd1" id="pwd1" /><br/>

	<label for="login">Повторить пароль</label>
	<input type="password" name="pwd2" id="pwd2" /><br/>

	<label for="login">E-mail</label>
	<input type="text" name="email" id="email" value="{$u.email}" /><br/>

	<p><input type="submit" value="Сохранить" /></p>
</form>