<html>
<head>
<title>ВНУТРЕННЯЯ ССЫЛКА :: BACK OFFICE ::</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="/_bo/s/bo.css" rel="stylesheet" type="text/css">
<script language="JavaScript" src="/_bo/js/sorter.js"></script>
</head>
{literal}
<script language="JavaScript"><!--
function selectUri()
{
	f = document.forms.seluri;
	v = f.uri;

	u = v.options[v.selectedIndex].value;


  if (opener) opener.setRedirect(u);

	window.close();
}

//--></script>
{/literal}
<body bgcolor="white" style="padding:0px;margin:0px">

<form method="post" action="" name="seluri" style="padding:0px;margin:0px">
<table width="99%" border="0" cellpadding="0" cellspacing="0" height="90%" align="center">
<tr>
<td align="center">Внутренняя ссылка</td>
</tr>
	<tr>
		<td align="center" valign="middle">
			<select name="uri" style="width:99%">{$tree}</select>
			<input type="button" name="submit" value="Вставить ссылку" class="txtfld" onClick="selectUri()">
		</td>
	</tr>
</table>
</form>


</body>
</html>